CARE_MP_SERVICE_SECRET=your-eng-secret-key-here
CARE_MP_SERVICE_ISS=caremp-ml-engine
CARE_MP_SERVICE_ROLE=caremp-ml-engine
CARE_MP_SERVICE_AUD=caremp-api
URL=https://stage-api.caremp.ai/v1/common/residents-settings
CARE_MP_ML_SERVICE_SECRET=your-ml-secret-key-here
CARE_MP_ML_SERVICE_ISSUE=caremp-api-service
CARE_MP_ML_SERVICE_ROLE=caremp-api-service
CARE_MP_ML_SERVICE_AUD=caremp-ml-engine-service
DB_PATH=./app/data/cache.db
